body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#recipe-image {
  width: 500px;
}

#recipe-image:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}


.recipe-container {
  margin-top: 20px;
  text-align: center;
}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-instructions {
  margin-top: 10px;
}

.recipe-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media (max-width: 768px) { /* For iPad */
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 24px;
  }
  button {
    padding: 10px 15px;
    font-size: 14px;
  }
  #recipe-image {
    width: 300px;
  }
  .recipe-container {
    margin-top: 10px;
  }
  .recipe-title {
    font-size: 20px;
  }
  .recipe-instructions {
    font-size: 14px;
  }
}

@media (max-width: 480px) { /* For Phone */
  .container {
    padding: 10px;
  }
  h1 {
    font-size: 20px;
  }
  button {
    padding: 8px 12px;
    font-size: 12px;
  }
  #recipe-image {
    width: 200px;
  }
  .recipe-container {
    margin-top: 5px;
  }
  .recipe-title {
    font-size: 18px;
  }
  .recipe-instructions {
    font-size: 12px;
  }
}
